body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e9ecf1;
    scroll-behavior: smooth;
    transition: all 1s ease;

    animation: animate;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes animate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}